.container {
  
}

.header {
  margin-bottom: 32px;
}

.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.searchInput {
  border: solid 1px #ccc;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
  width: 360px;
}
.searchInput:focus {
  border-color: #bbb;
}
.searchIcon {
  position: absolute;
  top: 12px;
  right: 16px;
  opacity: 0.5;
}

.list {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  row-gap: 18px;
  margin: 0 -9px 32px;
}
.listLink {
  display: block;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 9px;
}

.listItem {
  min-width: 0;
  background-color: var(--card-color);
  border: solid 1px var(--card-color);
  border-radius: 12px;
  padding: 0 18px 0 56px;
  line-height: 54px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.listLoading {
  cursor: progress;
}
.listLoading .listItem {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: transparent;
  cursor: progress;
}
.listLoading .listItem * {
  visibility: hidden;
}

.listItemName {
  display: block;
  white-space: normal; /*you can leave this out if you want to allow line break*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItemIcon {
  position: absolute;
  left: 16px;
  top: 14px;
  width: 26px;
}

.buttonWrapper {
  text-align: center;
}

@media (max-width: 1300px) {
  .listLink {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 1000px) {
  .listLink {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media (max-width: 700px) {
  .listLink {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 360px) {
  .listLink {
    flex: 0 0 100%;
    max-width: 100%;
  }
}