.image {
  width: 280px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  user-select: none;
}

.imageText {
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageIcon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 55px;
  left: 25px;
  cursor: default;
}
