.steps {
  padding-top: 2px;
}

.step {
  margin-top: 12px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 26px;
  position: relative;
}
.stepNumber {
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  background-color: #f5f5f5;
  text-align: center;
  margin-right: 5px;
  position: absolute;
  top: 2px;
  left: 0;
}

.childSteps {
  margin-top: 12px;
  margin-bottom: -16px;
  margin-right: -30px;
}
.childStep {
  width: 280px;
  min-height: 32px;
  border: solid 1px #ccc;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px 24px 0;
  overflow: hidden;
}
.childStep:last-child {
  margin-right: 0;
}
.childStepPic {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  border-radius: 0;
}
.childStepTitle {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 12px;
  border-top: solid 1px #ccc;
}

@media (max-width: 480px) {
  .childStep {
    margin-right: 0;
    display: block;
  }
  .childSteps {
    margin: 16px 0 16px -24px;
  }
}